.mordal-search
  width: 270px
  // height: 200px
  border-radius: 8px
  background-color: #cfcfcf

.radius-list
  width: 100%
  // height: 40px
  line-height: 40px
  & input[type="radio"]
    visibility: hidden

.radius-list-item
  width: 100%
  height: 100%
  text-align: center
  cursor: pointer

.button-container
  width: 100%
  padding: 5px 10px
