.mordal-form
  width: 60%
  min-width: 640px
  border-radius: 8px
  background-color: #cfcfcf

.svg-wrapper
  width: 90%
  height: 90%
  background-color: #888

.button-container
  width: 100%
  padding: 10px
