// basic colors
$color-white = #fff
$color-black = #000
$color-grayish-white = #ebe7e9

// brand colors
$brand-navy = #2a458a
$brand-write-blue = #3c62c4
$brand-gray-light = #efefef
$brand-gray = #e4e4e4
$brand-dull-white = #fcfcfc

// background colors
$body-bgcolor = transparent
$base-bgcolor = $brand-gray-light
$main-bgcolor = transparent
$extra-bgcolor = transparent

// border colors
$basic-border-color = #c8c8c8

// font color
$color-basic = #3f3f3f
$color-title = #00c
$color-caption = #273694
$color-gray-light = #898989

$color-accent = #522a82
