$base-color = #fff
$main-color = #003F69
$accent-color = #CAB27C

.flex
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: stretch
  justify-content: flex-start

.flex-column
  flex-direction: column

.flex-center
  align-items: center
  justify-content: center

.flex-between
  align-items: space-between
  justify-content: space-between

.select-none
  user-select: none
  -webkit-touch-callout: none
